language: java

jdk:
  - oraclejdk8

branches:
  only:
    - master

script: mvn clean deploy javadoc:javadoc --settings travis_settings.xml

# travis encrypt -r nhl/bootique-cayenne "CI_DEPLOY_USERNAME='name'"
# travis encrypt -r nhl/bootique-cayenne "CI_DEPLOY_PASSWORD='password'"
env:
  global:
    - secure: "D+4rU4vmLJXoN+44OecjMy8mKgT5oMg7k1JdHuuGBlMKufshOlz6TukmbdHtxn8UQznxxU6MpSF1oM9WUCl3ACYpP/SSekPbZJenHRgFqa19FlMmJebik1Qnsk0Fwb1lp/sM9R3fdWysZiNMDyo4EfgbgrcUymE/G+jFMo2AmVXg0D7Pk+rqfc/SZN29o19lkm08Bb12wratfdZTT3YPd6GgNh85DL6gHtST6YB00pB4Ni0XTZ1CLkFG2Om3RbhESk2AaKIi0MCvo3JHsoKytl+C8hLlpklt1hLJTpntoD4shJ3gq2pBSS3kI/ls+avzxpuQY+j4FUt0pzxOd4z2NZDXCXcT/90+bQ8c9UCMrIVz3zQWKaIX540wMv/D1y3LAXvR9oj6GfL/MKf3kj8SUvSOWLpVChDBif2vrpKmcA3win0JuZz5JjVGqUgXYAe34aTFeSvRSiE5+WOai/M95pEtowtUJuWwCYAehcQ/6E/o7zttHxhNIHyzqRj+WP21j+aQ8ID7PkzZZC2CYX4m3WavV1L8GOgrvgpv1NDuAXWc09SZ3emS6xmV+4fMlPlPu4+ysCx+NcQDjYtlI7aScVVKlhQ8cLoH9eHeZloWvx/6SpATEWNv7BXou0n/ZBaekkctAnwC2u9DMdJ+ZrmnLWZzDKhKR5dmBwKZflfL2wo="
    - secure: "BeSxa2k19iMogBHjNIJJ0u8fKENK+vPx75gux4sehI/tjiVr3MljuRhgwclCDhqfzNoAkDfM/JYXhXWrDk4Diq702Q3fdekAcq59FPSA3Z+al/rBRIKbTynHeMshdllQ/4Kw+tFhXpbqYBhA0QjUUPt0D0BXc5VPfZ0P0uk9oAgt0b5kL2kBx0Du52PQN7I+k8kYuEIS+eEx1LUsthH1CkD5zep2LGN0BOtm6DGk17/3vb4WiWz15lp/C03SjbxLzH9ckETm7cn4S6la53oZR+cOTYdUq0UZH2T+NS0ntND6xbGUpLBasajgXPTG9WFMnlegXyCrs3MAdNB3HRwxVCI7cwIKeGqhr6Xn3U+RIKC35C56WtaFsT4FmOQZeJ7r5i9WABQmZlBNhlDZr/3iNthu4dS0Uxi5L9Yc1moPOD34ZVVln2X1dZRY3OGrN626UBN3jxMN3jdQVUwoqkggWbALuaieG5NKgan6XsSYLMMNImRLjsEumtLu1ehXt3rAXobW2pKM1n1Pwz29BYe7HetUQqGUtkBlWlKMS3biHPVhon7qfdSI+NivI9Uxl2R/vGFGPRmHEssIFvPZxArxTfQGVgzhuEqSiuVI89Au1MkMMhyqQNFk0zIbs5AFNq6e1khjUmeX7r98HiLseYkreFqq1ynTbijUxCEObQ4VwLE="
